* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #E3E6E6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131921;
    color: white;
    padding: 12px;
}

.nav-left {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-center {
    display: flex;
    flex: 1;
    margin: 0 20px;
}

.nav-center input {
    padding: 10px;
    flex: 1;
    border: none;
}

.category {
    padding: 10px;
    border: none;
}

.search-btn {
    padding: 10px 14px;
    background: #febd69;
    border: none;
    cursor: pointer;
}

.nav-right span {
    margin-left: 15px;
}

/* HERO IMAGE */
.hero img {
    width: 100%;
    height: 400px;
    display: block;
}

/* PRODUCT CONTAINER GRID */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    padding: 20px;
}

/* PRODUCT BOXES */
.product-box {

    background: #fff;
    padding: 18px;
    border-radius: 6px;
}

.product-box h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.items img {
    width: 100%;
    border-radius: 4px;
}
