*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 30px;
    /* padding: 30px; */
    border: solid 3px black;
    background-color: white;    
    width: 600px;
    height: 130px;  
    text-align: center;
    align-items: center;
}

h1{
    margin: 15px;
    /* padding: 15px; */
    background: lightblue;
}

p{
    background: lightgreen;
}