*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 100%;
    height: 520px;
    margin: 20px;
    margin-left: auto;
    border: 2px solid black;
    background-color: #f2f2f2;
}


.navbar{
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    margin: 10px 10px;
    padding: 14px 16px;
}

.productCard{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.productCard h3{
    margin-bottom: 10px;
}   

.productCard p{
    margin-bottom: 15px;
    font-size: 16px;
    color: gray;
}

#productImage{
    width: 265px;
    height: 200px;
    margin-bottom: 15px;
}   

#btn{
    background-color: blue;
    color: white;
    padding: 10px 95px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#price{
    font-size: 22px;
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}

#strike{
    color: gray;
}