*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
    border: 2px solid black;
    gap: 10px;
}

.profile_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.2);
}

.profile_pic{
    display: flex;
    width: 100px;
    height: 100px;
    background: #007bff;
    color: white;
    border-radius: 50%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

h4{
    font: 1.1em sans-serif;
    font-weight: 800;
    margin-bottom: 6px;
}

p{
    font: 0.9em sans-serif;
    color: gray;
    text-align: center;
    margin-bottom: 10px;
}