*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    height: 750px;
    width: 900px;
    border: 1px solid black;
    margin: 100px auto;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */
    /* flex-flow: ; */
    /* justify-content: flex-start; works on main-axis
    justify-content: flex-end; */
    justify-content: center;
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

    /* align-items: flex-start; works on cross-axis */
    align-items: center;

    align-content: flex-start;
}

.item{
    height: 300px;
    border: 1px solid brown;
    background-color: cadetblue;
    text-align: center;
    margin: 20px;
    width: 300px;
}