.container{
    display: grid;
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    background-color: lightgoldenrodyellow;
    /* /* grid-template-columns: 1fr 1fr 1fr 1fr; cheALA V SAME  */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    
   
}
.item{
    /* height: 100px;
    width: 100px; */
    background-color: lightgray;
    border: 1px solid black;
    align-content: center;
    text-align: center;
     
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}