h1{
    color:black ;
    text-align: center;
    background-color: rgb(240, 152, 167);
}
p{
    color:lightgreen
    
}
.jk{
    color: rgb(226, 150, 162);
}
body{
    background-color: rgb(24, 128, 100);
}
#rs{
    color: rgb(115, 222, 115);
}
p{
    background-color: rgb(227, 152, 164);
    text-align: center;
}